<div id="home-view" data-ng-controller="HomeController as home">
  <div id="home-tiles" class="row">

    <div class="col-md-4">
      <a href="#" data-ng-click="$dc.loadMenuItems('menu');">
        <div class="tile">
          <div class="tile-image">
            <span class="glyphicon glyphicon-th-list"></span>
          </div>
          <div class="tile-description">
            <h3>Menu</h3>
            <p>See entire menu</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="#" data-ng-click="$dc.loadMenuItems(home.randomCategoryShortName);">
        <div class="tile">
          <div class="tile-image">
            <span class="glyphicon glyphicon-star"></span>
          </div>
          <div class="tile-description">
            <h3>Specials</h3>
            <p>See daily specials</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="#" data-ng-click="$dc.loadMap();">
        <div class="tile">
          <div class="tile-image">
            <span class="glyphicon glyphicon-map-marker"></span>
          </div>
          <div class="tile-description">
            <h3>Map</h3>
            <p>How to find us</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
